    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container {
      display: flex;
      height: 100vh;
      width: 100vw;
    }

    .leftSidebar {
      background-color: lightblue;
      height: 100vh;
      width: 300px;
    }

    .content {
      background-color: lightgreen;
      flex-grow: 1;
      height: 100%;
    }

    .rightSidebar {
      background-color: lightpink;
      height: 100vh;
      width: 300px;
    }

    .object {
      background-color: lightcyan;
    }

    .array {
      background-color: lightyellow;
    }

    .identate {
      padding-left: 50px;
    }

    .key-value {
      margin: 12px;
    }
    .key {
      border-radius: 4px;
      background-color: lightgrey;
      padding: 2px;
    }